@page
@model MemoryGameWeb.Pages.typescript_PlayGameModel
@{
}
<div class="div-style">
    <div>
        <button id="btnStart" class="btn btn-primary game-button">Start</button>
    </div>
    <div id="messageDisplay" class="textbox"></div>
    <div id="currentPlayerDisplay" class="textbox"></div>
    <div>
        <button id="btnNextTurn" class="btn btn-primary game-button">Next Turn</button>
    </div>
</div>
<div class="div-style">
    <div>
        <label class="label-style">Score Player 1:</label>
    </div>
    <div id="scoreplayer1" class="textbox"></div>
    <div>
        <label class="label-style">Score Player 2:</label>
    </div>
    <div id="scoreplayer2" class="textbox"></div>
</div>
<div class="row">
    <table>
        <tr>
            <td>
                <button id="btn1" class="memory-card"></button>
            </td>
            <td>
                <button id="btn2" class="memory-card"></button>
            </td>
            <td>
                <button id="btn3" class="memory-card"></button>
            </td>
            <td>
                <button id="btn4" class="memory-card"></button>
            </td>
        </tr>
        <tr>
            <td>
                <button id="btn5" class="memory-card"></button>
            </td>
            <td>
                <button id="btn6" class="memory-card"></button>
            </td>
            <td>
                <button id="btn7" class="memory-card"></button>
            </td>
            <td>
                <button id="btn8" class="memory-card"></button>
            </td>
        </tr>
        <tr>
            <td>
                <button id="btn9" class="memory-card"></button>
            </td>
            <td>
                <button id="btn10" class="memory-card"></button>
            </td>
            <td>
                <button id="btn11" class="memory-card"></button>
            </td>
            <td>
                <button id="btn12" class="memory-card"></button>
            </td>
        </tr>
        <tr>
            <td>
                <button id="btn13" class="memory-card"></button>
            </td>
            <td>
                <button id="btn14" class="memory-card"></button>
            </td>
            <td>
                <button id="btn15" class="memory-card"></button>
            </td>
            <td>
                <button id="btn16" class="memory-card"></button>
            </td>
        </tr>
        <tr>
            <td>
                <button id="btn17" class="memory-card"></button>
            </td>
            <td>
                <button id="btn18" class="memory-card"></button>
            </td>
            <td>
                <button id="btn19" class="memory-card"></button>
            </td>
            <td>
                <button id="btn20" class="memory-card"></button>
            </td>
        </tr>
    </table>
</div>

<script src="~/js/typescript-PlayGame.js" asp-append-version="true">
</script>